<div class=" card w-full shadow-xl mt-4">
    <div class="h-48 overflow-hidden relative  card-figure">
        <img src="{{ data.image }}" class="absolute top-0 left-0 h-full" />:
    </div>
    <div class="p-4">
        <h2 class="card-title">{{ data.name }}</h2>
        <p>House: {{ data.house }}</p>
        <p class="card-text">Wand:</p>
        <ul class="list-group">
            <li class="list-group-item">Wood: {{ data.wand?.wood }}</li>
            <li class="list-group-item">Core: {{ data.wand?.core }}</li>
            <li class="list-group-item">Length: {{ data.wand?.length }}</li>
        </ul>
    </div>
</div>