<div class="card w-80 bg-base-100 shadow-xl">
    <figure class="h-48 overflow-hidden">
        <img src="{{ data.image }}" alt="{{ data.name }}" class="object-cover w-full h-full object-top" />
    </figure>
    <div class="p-4">
        <h2 class="card-title">{{ data.name }}</h2>
        <p>House: {{ data.house }}</p>
        <p class="card-text">Wand:</p>
        <ul class="list-group">
            <li class="list-group-item">Wood: {{ data.wand?.wood }}</li>
            <li class="list-group-item">Core: {{ data.wand?.core }}</li>
            <li class="list-group-item">Length: {{ data.wand?.length }}</li>
        </ul>
    </div>
</div>